<?php 
    //$this->headScript()->appendFile($this->baseUrl() . "/includes/javascript/scriptaculous/src/scriptaculous.js", 'text/javascript');

    $controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
    $module = Zend_Controller_Front::getInstance()->getRequest()->getModuleName();

    if($controller != 'auth'){
        $this->headScript()->appendFile($this->baseUrl() . '/includes/javascript/jquery.min.js');
        $this->headScript()->appendFile($this->baseUrl() . '/includes/javascript/bootstrap.min.js');
        $this->headScript()->appendFile($this->baseUrl() . '/includes/javascript/metisMenu.min.js');
        $this->headScript()->appendFile($this->baseUrl() . '/includes/javascript/sb-admin-2.js');

        $this->headScript()->appendFile($this->baseUrl() . '/includes/javascript/validate/jquery.validate.js');
        $this->headScript()->appendFile($this->baseUrl() . '/includes/javascript/validate/validate-snep.js');
        $this->headScript()->appendFile($this->baseUrl() . '/includes/javascript/validate/jquery.maskedinput.js');

        $this->headLink()->appendStylesheet($this->baseUrl() . '/css/bootstrap.min.css');
        $this->headLink()->appendStylesheet($this->baseUrl() . '/css/metisMenu.min.css');
        $this->headLink()->appendStylesheet($this->baseUrl() . '/css/snep.css');
        $this->headLink()->appendStylesheet($this->baseUrl() . '/css/morris.css');
        $this->headLink()->appendStylesheet($this->baseUrl() . '/css/font-awesome.min.css');
    }
?>
<html>

    <head>
        <?php echo $this->doctype(); ?>
        <?php echo $this->headTitle() . "\n"; ?>
        <?php echo $this->headLink() . "\n"; ?>
        <?php echo $this->headMeta(); ?>
        <?php echo $this->headScript() . "\n"; ?>
    </head>

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <!-- <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0"> -->
            <nav class="navbar navbar-default navbar-static-top snep-navbar" role="navigation" style="margin-bottom: 0">    
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <!-- Header Logos -->
                    <div class="snep-navbar-logo">
                        <a href="<?php echo Zend_Registry::get('config')->system->path->web; ?>/index.php/">
                            <img src="<?php echo $this->baseUrl(); ?>/images/snep-main-logo.png">
                        </a> 
                    </div>
                    <div class="snep-navbar-logo-powered">
                        <img src="<?php echo $this->baseUrl(); ?>/images/powered-opens.png">
                    </div>
                   
                </div>
                <!-- /.navbar-header -->

                <!-- Header-menus  -->
                <ul class="nav navbar-top-links navbar-right">                    
                    
                    <li class="dropdown">
                        
                        <?php $noView = Snep_Notifications::getNoView();  
                        if($noView){?>
                            
                            <a class="dropdown-toggle new-notification" data-toggle="dropdown" href="#"><?php echo count($noView)?>
                        
                        <?php }else{?>
                            
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        
                        <?php } ?>

                            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">

                            <?php 
                                echo Snep_Notifications::getNotifications($this->baseUrl());     
                            ?>
                           
                            
                        </ul>
                        
                    </li>

                    <!-- Languages -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-language fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-language">
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/index.php/default/parameters/language?language=en">
                                    <div>
                                        <i></i>
                                        <img class="img-circle" src="/snep/images/Eua.png" title="Click to change language to english">
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>     
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/index.php/default/parameters/language?language=pt_BR">
                                    <div>
                                        <i></i>
                                        <img class="img-circle" src="/snep/images/Brazil.png" title="Clique para mudar o idioma para português">
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/index.php/default/parameters/language?language=es">
                                    <div>
                                        <i></i><img class="img-circle" src="/snep/images/es.png" title="Haga clic para cambiar el idioma a español">
                                    </div>
                                </a>
                            </li>
                            
                        </ul> <!-- /Languages -->
                    </li>

                    <!-- User-menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/index.php/default/parameters">
                                    <i class="fa fa-gear fa-fw"></i> 
                                    <?php echo $this->translate("Settings"); ?>
                                </a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/index.php/default/index">
                                    <i class="fa fa-question-circle fa-fw"></i> 
                                    <?php echo $this->translate("Help"); ?>
                                </a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/index.php/default/parameters">
                                    <i class="fa fa-info-circle fa-fw"></i> 
                                    <?php echo $this->translate("Information"); ?>
                                </a>
                            </li>

                             <li class="divider"></li>
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/index.php/default/register">
                                    <i class="fa fa-check-square fa-fw"></i> 
                                    <?php echo $this->translate("Intercomunexão"); ?>
                                </a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/index.php/default/auth/logout">
                                    <i class="fa fa-sign-out fa-fw"></i> 
                                    <?php echo $this->translate("Logout"); ?>
                                </a>
                            </li>
                        </ul> 
                    </li> <!-- /User-menu -->
                </ul> <!-- /Header-menus -->

                <!-- Breadcrumb -->
                <div id="snep-breadcrumb">
                    <div class="breadcrumb colapse snep-breadcrumb-body">
                       <span><?php echo $this->breadcrumb; ?></span>
                   </div>
                </div> <!-- /Breadcrumb -->

                <!-- Left-Menu -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">

                            <?php if (!isset($this->hideMenu)) : ?>
                                <?php 
                                    echo Snep_Menu::getMasterInstance()->renderChildren(); 
                                    //require_once("menu.html") ;
                                ?>
                             
                                <?php if(Snep_Menu::getMasterInstance()->renderChildrenModule()): ?>
                                    <li>
                                        <a href="#"><i class="sn-modulos fa-fw"></i> <?php echo $this->translate("Modules"); ?>    <span class="fa arrow"></span>
                                        </a>  
                                        <ul class="nav nav-second-level">
                                            <?php echo Snep_Menu::getMasterInstance()->renderChildrenModule(); ?>
                                        </ul>
                                    </li>
                                <?php endif; ?>
                            <?php endif; ?> 
                        </ul>
                    </div>
                </div> <!-- /Left-menu -->
            </nav>

            <!-- Content -->
            <div id="page-wrapper">
                 <!-- Status Bar -->
                <div id="statusbar">
                    <div id="statusbar_content"></div>
                </div>
                <!-- Content -->
                <div id="content">
                    <div class="content-body">
                        <?php echo $this->layout()->content; ?>
                    </div>    
                </div>            
            </div>

        </div>
        <!-- /#wrapper -->
    </body>
</html>



