<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );
?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>

<div class= "row">
  
    <?php if($this->options != 'all'){ ?>

        <div id="carousel-notifications" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class='carousel-inner'>
                    
                <?php foreach($this->html as $key => $html):
                    echo $html;
                endforeach; ?>

            </div>
        </div>
    <?php }else{ ?>

        <div class="tab-content">
            <div class="tab-pane active" id="demo">
                <table class="table demo table-bordered" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                    <thead>
                        <tr>
                            <th><?php echo $this->translate('Status');?></th>
                            <th><?php echo $this->translate('Date');?></th>
                            <th><?php echo $this->translate('Title');?></th>
                            <th><?php echo $this->translate('Message');?></th>
                            <th class="text-center"data-sort-ignore="true"><?php echo $this->translate('View');?></th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <?php 
                        foreach ($this->notifications as $key => $notification): ?>
                            
                            <tr>
                                <?php if($notification['read'] == '1'){?>
                                
                                    <td class="text-center"><span class="status-metro status-active" ><?php echo $this->translate('Visualized')?></spam></td>
                                
                                <?php }else{?>
                                
                                    <td class="text-center"><span class="status-metro status-suspended" ><?php echo $this->translate('No Visualized')?></spam></td>
                                
                                <?php } ?>

                                <td> <?php echo date("d/m/Y G:i:s", strtotime($notification['creation_date'])) ?> </td>
                                <td> <?php echo substr($notification['title'], 0,20)."..." ?> </td>
                                <td> <?php echo substr($notification['message'], 0,30)."..." ?> </td>
                                
                                <td class="text-center">
                                    <a class="btn btn-add btn-xs"  href="<?php echo $this->url ?>?id=<?php echo $notification['id'] ?>" role="button"><?php echo $this->translate('Visualize')?>
                                            
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach ?>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8">
                                <div class="paging">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
                <br>
            </div> <!-- demo -->
        </div> <!-- tab-content -->
        
    <?php }?>
    
</div> 

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault(); 
        });
    });
</script>












