<?php
$this->headLink()->appendStylesheet($this->baseUrl() . "/css/index.css");
?>

<table>
    <thead>
        <tr>
            <th class="failure"> <?php echo $this->translate("Invalid archive"); ?> </th>
        </tr>
    </thead>
</table>    

<dl id="login_form">
    <div class="form_element">
        <dt></dt>
        <dd><input type="submit" class="voltar" onclick="javascript: history.go(-2)" name="submit" id="submit" title="<?php echo $this->translate("Back"); ?>" value=<?php echo $this->translate("Back"); ?> /></dd>
    </div>
</dl>